LaTeX/.Bachelorarbeit.tex.swp
# Ignoriere den bin-Ordner
bin/

# Ignoriere alle Dateien mit der Erweiterung .class
*.class

# Ignoriere alle Dateien mit der Erweiterung .html
*.html

Bachelor Vault/Privat/
Bachelor Vault/.obsidian/